{
  "username": "Beekeeper",
  "avatar_url": "https://cdn.discordapp.com/avatars/738571182101626930/72ad643b1ee4036cd79f8c457ed1d420.png",
  "content": "<@&873346297053204561>",
  "embeds": [
    {
      "title": "Resourceful Bees",
      "color": 16744512,
      "description": "A new nightly is available!",
      "timestamp": "",
      "author": {
        "name": "Team Resourceful",
        "url": "https://resourcefulbees.com"
      },
      "image": {
        "url": ""
      },
      "thumbnail": {
        "url": "https://cdn.discordapp.com/icons/738561073916936333/a_1fbe6ba7f98d83919ecd80c9bb5ac2b5.webp"
      },
      "footer": {
        "text": "Support us on Patreon or by using code TEAMRESOURCEFUL to get a discounted server from Bisect Hosting"
      },
      "fields": [
        {
          "name": "Changelog",
          "value": "[View Changelog](https://raw.githubusercontent.com/Team-Resourceful/ResourcefulBees/1.19/changelog.md)"
        },
        {
          "name": "Mod Version",
          "value": "${version}"
        },
        {
          "name": "Minecraft Version",
          "value": "${mc_version}"
        },
        {
          "name": "Forge Version",
          "value": "${forge_version}"
        },
        {
          "name": "Download",
          "value": "[Forge](https://nexus.resourcefulbees.com/repository/maven-public/com/teamresourceful/resourcefulbees/resourcefulbees-forge-${mc_version}/${version}/resourcefulbees-forge-${mc_version}-${version}.jar)\\n[Fabric]((https://nexus.resourcefulbees.com/repository/maven-public/com/teamresourceful/resourcefulbees/resourcefulbees-fabric-${mc_version}/${version}/resourcefulbees-fabric-${mc_version}-${version}.jar))"
        }
      ]
    }
  ],
  "components": []
}